body{
    font-family: 'Raleway', sans-serif;
    background-color: #A72D35;
}

@each $tipo, $numero in $fonts{
    .fuente-#{$tipo}{
        font-weight: $numero;
    }
}

#logo{
	display: flex;
	width: 40%;
	margin: 0.5rem;
	padding: 20px;
}

@media all and (max-width: 768px){
	.index__mobile{
		width: 100%;
	}
}

.list li{
	display: inline;
	margin: 4rem;
	font-weight: 700;
	height: 300px;
}

.item{
	color: $color-repeat;
	font-weight: map map-get($fonts, bold);
	font-size: medium;
	text-align: center;
	padding: 30px;
    text-decoration: none;
    &:hover{
        color: black;
    }
}

.index{
	font-weight: map map-get($fonts, medium);
	font-size: medium;
	text-align: left;
	color: #BFBDB4;
	margin: 3rem;
	display: inline-block;
}

.index__foto{
	display: inline-block;
	width: 40%;
	margin: 2rem;
    &:hover{
        transform: scale(1.2);
    }
}

.index__titulo{
	font-weight: map map-get($fonts, black);
	font-size: xx-large;
	text-align: center;
	color: #ECE1D1;
	margin: 2rem;
	display: block;
    &::after{
        content: '!!';
    }
}

.datos{
	height: 110px;
	align-content: stretch;
	flex-direction: column;
}

.estadistica{
	background: #BFBDB4;
    border: 3px solid #461D22;
	color: #461D22;
	padding: 18px;
    margin: 60px;
	display: inline;
}

.footer__titulo{
	font-weight: 500;
	font-size: large;
	background-color: #BA8871;
	color: $color-repeat;
	text-align: center;
	padding: 1rem;
}

.footer__info{
	font-weight: map map-get($fonts, light);
	font-size: medium;
	text-align: center;
	list-style-type: none;
	padding: 10px;
}

.footer__icon{
	max-width: 20px;
}

.footer__link{
	color: $color-repeat;
	text-decoration: none;
    &:hover{
        color: black;
    }
}

%detalles{
    font-weight: 500;
    font-size: large;
    text-align: left;
    margin: 2rem;
    display: block;
}

/*integrantes.html*/

.integrantes__titulo{
	font-weight: 900;
	font-size: xx-large;
	text-align: left;
	color: #C0C38E;
	margin: 2rem;
	display: block;
}

@mixin images($width) {
    display: inline;
    margin: 2rem;
    width: $width;
}

.integrantes__foto{
	@include images(20%);
}

.integrantes__discos{
	@include images(30%);
}

.integrantes__info{
	@extend %detalles;
	color: #BFBDB4;
}

/*discografia.html*/

.discografia__titulo{
	font-weight: 900;
	font-size: xx-large;
	text-align: left;
	color: #ACB8C7;
	margin: 2rem;
	display: block;
}

.discografia__info{
    @extend %detalles;
	color: #C0C38E;
}

.discografia__foto{
	display: inline;
	width: 30%;
	margin: 1.5rem;
}

/*giras.html*/

.giras__titulo{
	font-weight: 900;
	font-size: xx-large;
	text-align: left;
	color: #888888;
	margin: 2rem;
	display: block;
}

.giras__foto{
	display: inline;
	width: 40%;
	margin: 2rem;
}

.giras__foto:hover{
	transform: scale(1.2);
}

.giras__info{
    @extend %detalles;
	color: #BFBDB4;
}

/*contacto.html*/

.contact{
	padding: 3rem;
}

